* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

.app {
    font-family: Arial, sans-serif;
    text-align: center;
}

body {

    background-color: #f5ece0;
    user-select: none;
    -webkit-touch-callout: none; /* Запретить всплывающее меню в iOS */
    -webkit-user-select: none; /* Safari / Chrome (iOS, Android) */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none;
}
